requests
beautifulsoup4
lxml
pandas
numpy
python-dateutil
tqdm
scikit-learn
xgboost
plotly
joblib
pmdarima
prophet
selenium
webdriver-manager
statsmodels
optuna
fastapi
uvicorn
streamlit
python-dotenv
google-genai
